<div class="large-12 columns">
  <h1>Realizar transferência</h1>
  <%= link_to 'Clique aqui', @cart.url, :target => '_blank' %> para ser redirecionado ao site do banco e realizar a transferência.
</div>